<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri = "http://www.ppgti.org/regexdsl/RegexDsl"
			class = "org.ppgti.regexdsl.regexDsl.RegexDslPackage"
			genModel = "model/generated/RegexDsl.genmodel" />
	</extension>
</plugin>
